__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.env
.env
*.key
*.pem
*.p12
*.pfx
venv/
*.log
.DS_Store


stage2/checkpoints_lecturebank/
stage2/outputs_lecturebank/

stage2/checkpoints_moocml/
stage2/outputs_moocml/

stage2/checkpoints_universitycourse/
stage2/outputs_universitycourse/
